:root {
  --shadow: 0 10px 15px -3px rgba(0,0,0,0.1), 0 4px 6px -2px rgba(0,0,0,0.05);
  --radius: 4px;
  --bg-color: rgb(211, 211, 211);
  --main-text-color: DarkSlateGray;
  --accent-color: MediumBlue;
  --secondary-text-color: GhostWhite;
  --main-color: rgb(184, 184, 184);
}

body {
  font-family: "Roboto", "Arial", "Helvetica";
  margin: 0;
  background-color: var(--bg-color);
  color: var(--main-text-color);
}

.loginContainer {
  width: 100%;
  height: 100%;
  margin-top: 70px;
  display: grid;
  place-items: center;
}
.loginContainer h2 {
  margin: 0;
}
.loginContainer .loginCard {
  box-shadow: var(--shadow);
  border-radius: var(--radius);
  padding: 4rem 3rem;
  border-top: solid 4px;
  width: 30rem;
  max-width: 100%;
  background-color: var(--main-color);
}
.loginContainer .loginCard h2 {
  margin-bottom: 30px;
}
.loginContainer .loginCard form {
  display: flex;
  flex-direction: column;
}
.loginContainer .loginCard form [type=submit] {
  background-color: var(--accent-color);
  color: var(--secondary-text-color);
  border-radius: var(--radius);
  box-shadow: var(--shadow);
  padding: 0.5em 1em;
  border: 0;
  cursor: pointer;
}
.loginContainer .loginCard form input:not([type=submit]) {
  margin-bottom: 1em;
  border: 0;
  box-shadow: 0 0 3px currentColor;
  padding: 0.2rem 0.4em;
  border-radius: var(--radius);
}
.loginContainer .loginCard form label {
  font-size: 0.8em;
  opacity: 0.75;
  margin-bottom: 5px;
}

.dark-mode-controls {
  position: absolute;
  top: 1em;
  right: 1em;
}

.dark-toggle + label {
  --height-control: 1rem;
  display: inline-block;
  width: calc(var(--height-control) * 2);
  height: var(--height-control);
  background-color: var(--main-color);
  position: relative;
  border-radius: calc(var(--radius) * 2);
}
.dark-toggle + label::after {
  --circle-size: calc(var(--height-control) * 1.33);
  width: var(--circle-size);
  height: var(--circle-size);
  position: absolute;
  content: " ";
  border-radius: 50%;
  background-color: var(--accent-color);
  left: calc((var(--circle-size) - var(--height-control)) * -1);
  top: calc((var(--circle-size) - var(--height-control)) / 2 * -1);
  transition: all 0.3s ease-in;
}

.dark-toggle:checked + label:after {
  left: calc(70% - (var(--circle-size) - var(--height-control)) / 2);
}

@media (prefers-color-scheme: dark), (prefers-color-scheme: no-preference) {
  :root {
    --bg-color: #13293D;
    --main-color: #006494;
    --accent-color: #247BA0;
    --main-text-color: LightGoldenrodYellow;
    --secondary-text-color: Lavender;
  }
}
body.force-dark {
  --bg-color: #13293D;
  --main-color: #006494;
  --accent-color: #247BA0;
  --main-text-color: LightGoldenrodYellow;
  --secondary-text-color: Lavender;
}

body.force-light {
  --bg-color: rgb(211, 211, 211);
  --main-text-color: DarkSlateGray;
  --accent-color: MediumBlue;
  --secondary-text-color: GhostWhite;
  --main-color: rgb(184, 184, 184);
}

svg {
  height: 1rem;
}

body > div > div.dark-mode-controls > svg:nth-child(1) {
  margin-right: 6px;
}

body > div > div.dark-mode-controls > svg:nth-child(4) {
  margin-left: 10px;
}

#dark-toggle {
  display: none;
}

/*# sourceMappingURL=index.css.map */
