<div class="card" style="height: 60vh; margin-top:50px; display:flex; align-items:center; justify-content:center;">
  <form action="/notes/edit/{{noteToEdit._id}}?_method=PUT" method="post" _method="PUT" style="width: 80%;">
    <input type="hidden" name="_method" value="PUT">

    <div class="form-group" style="width: 100%;">
      <label for="new_note_title">New title</label>
      <input type="text" name= "title" class="form-control" id="new_note_title" placeholder="New title" value={{noteToEdit.title}}>
    </div>

    <div class="form-group" style="width: 100%; margin-top: 30px;">
      <label for="newNote_description">New description</label>
      <textarea name="description" class="form-control" id="newNote_description" rows="3" placeholder="New description">{{noteToEdit.description}}</textarea>
    </div>

    <div class="form-group" style="width: 100%; margin-top: 30px;">
      <label for="newNote_link">New Link / URL</label>
      <input type="text" name= "link" class="form-control" id="newNote_link" placeholder="New link" value={{noteToEdit.link}}>
    </div>

    <button type="submit" class="btn btn-lg btn-primary" style="width: 100%; margin-top: 30px;">UPDATE</button>

  </form>
</div>