<div class="loginContainer">
        <div class="loginCard">
            <h2>Register</h2>
            <form action="/register" method="post">
                <label for="user">User</label>
                <input type="text" name="name" id="user" value={{name}}>

                <label for="email">E-mail</label>
                <input type="email" name="email" id="email" value={{email}}>

                <label for="password">Password</label>
                <input type="password" name="password" id="password">

                <label for="confirmPassword">Confirm password</label>
                <input type="password" name="confirm_password" id="confirmPassword">

                <input type="submit" value="Registrarse">
            </form>
        </div>
</div>